<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<title>About Page</title>
	</head>
	<body>
		{{> header}}<!-- riferimento ad un partial -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, explicabo.</p>
		{{> footer}}<!-- riferimento ad un partial -->
	</body>
</html>