<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}<!-- riferimento ad un partial -->
		<p>{{screamIt welcomeText}}</p><!-- invoco l'helper screamIt sul testo passato dal dato welcomeText -->
		{{> footer}}<!-- riferimento ad un partial -->
	</body>
</html>